<a href="https://colab.research.google.com/github/nundea45-debug/Homework_2025/blob/main/104dict()_105d%5Bkey%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Unit 104 딕셔너리 객체 : dict()

# dictionary 정의 1 : {}안에 키:값 쌍을 콤마로 구분, 나열해 정의
population : {'서울':9407540, '부산':3320276, '인천':2964820}  # -> 키:값 쌍 => 도시이름 : 인구수

In [ ]:
# dictionary 정의 2 : dict() 클래스를 이용
population = dict(서울=9407540, 부산=3320276, 인천=2964820)  # dict() 정의 시 키가 문자열인 경우 => '', ""를 사용하지 X
print(population)

{'서울': 9407540, '부산': 3320276, '인천': 2964820}

In [ ]:
# dictionary 정의 3 : (키, 값) 듀플이 요소인 리스트가 dict()의 인자로 입력
population = dict([('서울', 9407540), ('부산', 3320276), ('인천', 2964820)])
print(population)

{'서울': 9407540, '부산': 3320276, '인천': 2964820}

In [ ]:
# Unit 105 딕셔너리에서 값 추출하기 1 : d[key]

# d[key] => 딕셔너리 d에서 키가 key인 요소의 값을 얻음
population = {'서울':9407540, '부산':3320276, '인천':2964820}
pnum = population['서울']  # 딕셔너리 자료 population에서 '서울'이 키인 요소의 값(9407540)을 얻음
print(f'2022년 기준 서울의 인구는 {pnum:,d}명 입니다.')

2022년 기준 서울의 인구는 9,407,540명 입니다.

In [ ]:
orddict = {97:'a', 98:'b', 99:'c'}  # 10진 정수가 키이고 문자가 값인 요소로 구성된 딕셔너리
print(f'ASCII 코드 97은 문자 {orddict[97]}에 대응됩니다.')  # orddict[97] => 97:'a'에서 값인 'a'를 추출

ASCII 코드 97은 문자 a에 대응됩니다.

In [ ]:
ret = orddict[95]  # 딕셔너리에 없는 키로 값을 추출 => KeyError 오류 발생

KeyError: 95