<a href="https://colab.research.google.com/github/nundea45-debug/Homework_2025/blob/main/10type_annotation_11input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Unit 10 타입 어노테이션

# 타입 어노테이션 = 변수나 함수의 인자 및 리턴값의 자료형에 대해 힌트를 알려줌
name = '홍길동'
age = 17
wegiht = 70.7
is_badman = False

In [ ]:
# 타입 어노테이션 방법으로 변수의 자료형에 대한 힌트를 줌
name : str = '홍길동'
age : int = 17
wegiht : float = 70.7
is_badman : bool = False

In [ ]:
booklist : list[str] = ['삼국지', '수호지', '초한지']  # 문자열을 요소로 가진 리스트라는 힌트

In [ ]:
island : tuple[str, float, float] = ('독도', 131.52, 37.14)  # 자료형이 문자열, 실수, 실수인 튜플이라는 힌트

In [ ]:
top4_familyname : dict[str, int] = {'김씨' : 123456, '나씨' : 345811, '박씨' : 963123, '이씨' : 865909}  # 키는 문자열, 값은 정수인 딕셔너리라는 힌트

In [ ]:
fruits : set[str] = {'사과', '배', '수박', '참외', '딸기'}  # 문자열을 요소로 가지는 set 자료라는 힌트

In [ ]:
print(__annotations__)  # 자신의 코드에서 추가한 타입 어노테이션을 체크 (타입 어노테이션은 강제 사항 X)

{'name': <class 'str'>, 'age': <class 'int'>, 'wegiht': <class 'float'>, 'is_badman': <class 'bool'>, 'booklist': list[str], 'island': tuple[str, float, float], 'top4_familyname': dict[str, int], 'fruits': set[str]}

In [ ]:
fruits : set[str] = {'사과', '배', '수박', '참외', '딸기'}
fruits = {1,2,3,4,5}
print(fruits)  # 문자열을 요소로 가지는 set 자료임을 명시했으나 정수로 구성된 set 자료를 할당해도 오류가 X => 하지만 타입 어노테이션을 활용하는 목적에 부합 X

{1, 2, 3, 4, 5}

In [ ]:
# Unit 11 사용자 입력 : input()

userinput = input()
print('사용자가 입력한 값은 <' + userinput + '> 입니다.')

20
사용자가 입력한 값은 <20> 입니다.

In [ ]:
userinput = input('값을 입력하세요 :')
print('사용자가 입력한 값은 <' + userinput + '> 입니다.')

값을 입력하세요 :yes
사용자가 입력한 값은 <yes> 입니다.