<a href="https://colab.research.google.com/github/nundea45-debug/Homework_2025/blob/main/122d1%7Cd2%2Cd1%7C%3Dd2_123sorted().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Unit 122 딕셔너리 갱신하기 2 : d1 | d2, d1 |= d2

# d1 | d2 => d1과 d2를 통합하여 새로운 딕셔너리를 생성
greats = {'유비':89, '관우':95, '장비':91, '조운':94}
others = {'제갈량':99, '황충':70}
updated = greats | others  # greats와 others를 통합 => 새로운 딕셔너리 updated 생성
print(updated)

{'유비': 89, '관우': 95, '장비': 91, '조운': 94, '제갈량': 99, '황충': 70}

In [ ]:
updated2 = updated | {'유비':90, '관우':96}  # updated와 {'유비':90, '관우':96}을 통합 => 딕셔너리 updated2 생성
print(updated2)  # updated에는 '유비'와 '관우'가 키로 존재 => '유비'의 값을 90, '관우'의 값을 96으로 덮어씀

{'유비': 90, '관우': 96, '장비': 91, '조운': 94, '제갈량': 99, '황충': 70}

In [ ]:
# d1 |= d2 => d1.update(d2)와 동일
greats |= others                  # greats.update(others)와 동일
print(greats)

{'유비': 89, '관우': 95, '장비': 91, '조운': 94, '제갈량': 99, '황충': 70}

In [ ]:
# Unit 123 딕셔너리 요소 정렬하기 : sorted()

greats = {'유비':89, '관우':95, '장비':91, '조운':94}
ret = sorted(greats)  # greats의 키에 대해 오름차순으로 정렬한 결과를 리스트로 리턴
print(ret)

['관우', '유비', '장비', '조운']

In [ ]:
ret = sorted(greats.items())  # greats.item()를 정렬 => greats의 요소를 튜플(key, val)로 구성한 이터레이터 (key 기준 오름차순 정렬)
print(ret)

[('관우', 95), ('유비', 89), ('장비', 91), ('조운', 94)]

In [ ]:
# 내림차순 정렬 => sorted()에 reverse=True를 인자로 추가
ret = sorted(greats.items(), reverse=True)
print(ret)

[('조운', 94), ('장비', 91), ('유비', 89), ('관우', 95)]

In [ ]:
# 딕셔너리의 값을 기준으로 정렬하는 코드
ret = sorted(greats.items(), key=lambda x : x[1])  # greats.items()의 정렬 기준 => lambda x : x[1]의 리턴값 (lambda x : x[1] => lambda 함수의 정의에 따라 x는 입력되는 인자, x[1]은 리턴값)
print(ret)                                         # key=lambda x : x[1] => 정렬할 요소 x가 입력되면 인덱스 1인 값이 정렬 기준이 된다는 의미

[('유비', 89), ('장비', 91), ('조운', 94), ('관우', 95)]

In [ ]:
# 딕셔너리의 값을 기준으로 내림차순 정렬
ret = sorted(greats.items(), key=lambda x : x[1], reverse=True)
print(ret)

[('관우', 95), ('조운', 94), ('장비', 91), ('유비', 89)]

In [ ]:
# 정렬 결과를 이용한 출력 예
for name, level in ret :
  print(f'<{name}>의 레벨은 <{level}>입니다.')

<관우>의 레벨은 <95>입니다.
<조운>의 레벨은 <94>입니다.
<장비>의 레벨은 <91>입니다.
<유비>의 레벨은 <89>입니다.