<a href="https://colab.research.google.com/github/nundea45-debug/Homework_2025/blob/main/128lambda_129type_annotation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Unit 128 이름없는 한 줄짜리 함수 만들기: lambda

# lambda(람다) 함수 => 함수 이름을 정의하지 않고 한 줄로 구현한 함수
lambda 매개변수1, 매개변수2, ... : 리턴 식

In [ ]:
# 숫자 하나를 입력받고 그 제곱 수를 리턴
f = lambda x : x**2
print(f(2))
print(f(3))

4
9

In [ ]:
# 인자로 입력받은 문자열 뒤에 '.txt'를 추가한 문자열을 리턴
f = lambda x : x + '.txt'
print(f('readme'))

readme.txt

In [ ]:
# 시퀀스 자료를 입력받아 인덱스가 1인 요소를 리턴
f = lambda x : x[1]
print(f('readme'))
print(f(('장비', 10)))

e
10

In [ ]:
# Unit 129 함수의 타입 어노테이션

# 타입 어노테이션 (Type annotation) => 함수의 인자나 리턴값의 자료형을 명시하는 타입 어노테이션

In [ ]:
def setLevel(character : str, level : int) -> dict[str, int] :  # 함수 리턴값에 대한 자료형 명시 => '->' (setLevel()의 리턴값 자료형이 키가 문자열, 값이 정수인 딕셔너리라고 명시)
  return {character : level}

In [ ]:
def setLevel(character : str, level : int) -> None :  # -> None => setLevel()의 리턴값이 없음을 명시
  global greats
  greats[character] = level
  return

In [ ]:
greats = {'유비':10, '관우':15, '장비':10}
setLevel('유비', 13)
print(greats)

{'유비': 13, '관우': 15, '장비': 10}