<a href="https://colab.research.google.com/github/nundea45-debug/Homework_2025/blob/main/30round__31type_conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Unit 30 반올림 수 구하기 : round()

ret = round(42.195)  # round() => 입력된 수치 자료를 지정되 자릿수에서 반올림한 결과를 리턴
print(ret)

42

In [ ]:
ret = round(42.195, 0)  # round()의 두 번째 인자 => 반올림을 실시할 자릿수 (ex. 두 번째 인자가 0 => 소수점 첫째 자리에서 반올림을 실시)
print(ret)

42.0

In [ ]:
ret = round(42.195, 1)
print(ret)

42.2

In [ ]:
ret = round(42.195, -1)  # round()의 두 번째 인자의 값이 -1, -2 이면 각각 일의 자리, 십의 자리에서 반올림 실시
print(ret)

40.0

In [ ]:
# Unit 31 수치 자료형 변환 : int(), float(), str()

# int() : 실수 -> 정수로 변환
floatData = 1234.5
intData = int(floatData)
print(f'intData {intData} 자료형은 {type(intData)}입니다.')

intData 1234 자료형은 <class 'int'>입니다.

In [ ]:
# int() : 정수 문자열 -> 정수로 변환
strData = '1234'
intData = int(strData)
print(f'intData {intData} 자료형은 {type(intData)}입니다.')

intData 1234 자료형은 <class 'int'>입니다.

In [ ]:
strData = '1234.5'  # int()에 입력되는 문자열이 숫자로만 이루어지지 않은 경우 => valueError 발생
intData = int(strData)

ValueError: invalid literal for int() with base 10: '1234.5'

In [ ]:
# float() : 문자열 -> 실수로 변환
strData = '1234.5'
floatData = float(strData)
print(f'floatData {floatData} 자료형은 {type(floatData)}입니다.')

floatData 1234.5 자료형은 <class 'float'>입니다.

In [ ]:
print(float('2E5'))
print(float('2e-3'))

200000.0
0.002

In [ ]:
# str() : 수치자료 -> 문자열로 변환
intData = 1234 ; strData1 = str(intData)
floatData1 = 1234.5 ; strData2 = str(floatData1)
floatData2 = 1e-3 ; strData3 = str(floatData2)
print(f'정수 {intData} => 문자열 {strData1}, {type(strData1)}')
print(f'실수 {floatData1} => 문자열 {strData2}, {type(strData2)}')
print(f'정수 {floatData2} => 문자열 {strData3}, {type(strData3)}')

정수 1234 => 문자열 1234, <class 'str'>
실수 1234.5 => 문자열 1234.5, <class 'str'>
정수 0.001 => 문자열 0.001, <class 'str'>