<a href="https://colab.research.google.com/github/nundea45-debug/Homework_2025/blob/main/40list__41map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Unit 40 반복 가능 자료를 리스트로 변환 : list()

tupleData = (1,2,3,4,5)
print(list(tupleData))   # list(iterable) => 반복 가능 자료 iterable을 리스트로 변환

[1, 2, 3, 4, 5]

In [ ]:
strData = 'I Love python!'
print(list(strData))  # 문자열 리스트 변환

['I', ' ', 'L', 'o', 'v', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n', '!']

In [ ]:
def MyRange(n) :
  current = 0
  while current < n :
    yield current
    current += 1

intList = MyRange(5)
print(list(intList))  # 제너레이터 리스트 변환

[0, 1, 2, 3, 4]

In [ ]:
# Unit 41 모든 요소들에 대해 함수 리턴값 얻기 :  map()

# map() : 두 개의 인자를 입력받음 -> 첫 번째 인자 => 호출할 함수 / 두 번째 인자 => 반복 가능 자료
map(func, iterable) # iterable의 모든 요소를 func의 인자로 차례로 전달해 처리한 각각의 결과들을 이터레이터로 리턴

In [ ]:
def myfunc(x) :
  return x ** 2

resultrs = map(myfunc, [0,1,2,3])
print(list(resultrs))

[0, 1, 4, 9]

In [ ]:
results = map(lambda x : x ** 2, range(4))
print(list(results))

[0, 1, 4, 9]

In [ ]:
x = [1,2,3,4,5]
y = [10,9,8,7,6]
ret = map(lambda x, y : x ** 2 + y, x, y)
print(list(ret))

[11, 13, 17, 23, 31]