<a href="https://colab.research.google.com/github/nundea45-debug/Homework_2025/blob/main/4variable_5annotation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Unit 4 변수
_myname = 'sansjang'
my_name = '홍길동'
MyName3 = 'Hong gil-dong'
country = '대한민국'

In [ ]:
1_str = '안녕하세요 파이썬!' #변수의 잘못된 예 1 = 변수명의 첫 문자는 _ 또는 영문자로 시작해야함

SyntaxError: invalid decimal literal (ipython-input-4293204162.py, line 1)

In [ ]:
_%var = 'Temp Variables' #변수의 잘못된 예 2 = 특수 기호 사용
@address = 'sansjang@naver.com'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (ipython-input-3128059425.py, line 1)

In [ ]:
counter = 1
Counter = 2  #counter와는 다른 변수임 #변수는 대소문자를 구분함

In [ ]:
and = 1 #변수의 잘못된 예 3 = 파이썬 예약어 사용

SyntaxError: invalid syntax (ipython-input-1696421978.py, line 1)

In [ ]:
import keyword #파이썬 예약어 확인
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
abs = 1 #변수의 잘못된 예 4 = 파이썬 내장 함수 이름과 동일한 이름의 변수를 사용한뒤 변수를 함수처럼 호출하여 발생한 오류
abs(-1)

TypeError: 'int' object is not callable

In [ ]:
intData = 1 #정수 자료
pi = 3.14  #실수 자료

In [ ]:
flag = True #flag에 True를 할당해 참, 거짓을 나타내는 불리언(boolean) 자료로 활용

In [ ]:
ch = 'x' #한 개의 문자 할당
strData = '사랑해요 파이썬!' #문자열 할당

In [ ]:
buffer = 1 #buffer에 정수 1을 할당, buffer는 정수 데이터임
buffer += 2
print(buffer)

buffer = 'three' #buffer에 문자열 three를 할당, buffer는 문자열 데이터임
print(buffer)

3
three

In [ ]:
#Unit 5 주석
#코드 한 라인을 주석 처리하기 위해서는 문자 '#'으로 문장을 시작하면 됨, '#'이전의 문자들은 주석 처리 되지 않음

### 주석처리 예시
### 만든 날짜 : 2025.09.09

a = 1 #a에 1을 할당
b = 5 #b에 5를 할당
print(a+b) #a+b의 값을 출력

6

In [ ]:
comment = 'Result = '
# 삼중 따옴표로 특정 영역 주석 처리 예시
"""a = 1
b = 100
print(a+b)"""
a = 5
b = 50
print(comment, a+b)

Result =  55