<a href="https://colab.research.google.com/github/nundea45-debug/Homework_2025/blob/main/54enumerate__55reversed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Unit 54 (인덱스, 요소) 생성 : enumerate()

solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
for i, body in enumerate(solarsys) :  # enumerate(s) => 시퀀스 자료형 s를 인자로 받아 각 요소를 (인덱스, 요소)로 된 enumerate 객체 리턴
  print(f'태양계의 {i}번째 천체 : {body}')  # enumerate 객체 => 반복 가능 (for문과 함께 자주 사용), list()를 이용 => 리스트 변환 활용 가능

태양계의 0번째 천체 : 태양
태양계의 1번째 천체 : 수성
태양계의 2번째 천체 : 금성
태양계의 3번째 천체 : 지구
태양계의 4번째 천체 : 화성
태양계의 5번째 천체 : 목성
태양계의 6번째 천체 : 토성
태양계의 7번째 천체 : 천왕성
태양계의 8번째 천체 : 해왕성

In [ ]:
seasons = ['봄', '여름', '가을', '겨울']
print(list(enumerate(seasons, start = 1)))  # seasons의 요소를 인덱스 1부터 시작해 쌍으로 생성

[(1, '봄'), (2, '여름'), (3, '가을'), (4, '겨울')]

In [ ]:
# enumerate()를 구현한 구현한 제너레이터
def myEnumerate(iterable, start = 0) :
  n = start
  for item in iterable :
    yield (n, item)
    n += 1

In [ ]:
print(list(myEnumerate(seasons, start = 1)))

[(1, '봄'), (2, '여름'), (3, '가을'), (4, '겨울')]

In [ ]:
# Unit 55 시퀀스 자료 역순 만들기 : reversed()

fruits = ('사과', '배', '오렌지', '수박')
ret = reversed(fruits)  # fruits 요소의 역순인 이터레이터를 리턴
print(list(ret))

['수박', '오렌지', '배', '사과']

In [ ]:
print(fruits)  # reversed(s)는 시퀀스 자료 s는 변경 X

('사과', '배', '오렌지', '수박')

In [ ]:
for i in reversed(range(1,6)) :  # 정수열을 5부터 거꾸로 출력하는 코드
  print(i)

5
4
3
2
1