<a href="https://colab.research.google.com/github/nundea45-debug/Homework_2025/blob/main/56list%5Bi%5D%3Dx_57del_list%5Bi%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Unit 56 리스트의 요소값 변경 : list[i] = x

# list[i] = x => list의 인덱스 i인 요소를 x로 변경

In [ ]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solarsys[3] = 'Earth'  # solarsys의 인덱스 3에 해당하는 '지구'를 'Earth'로 변경
print(solarsys)

['태양', '수성', '금성', 'Earth', '화성', '목성', '토성', '천왕성', '해왕성']

In [ ]:
solarsys_ko = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solarsys_en = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Naptune']

for i in range(len(solarsys_ko)) :
  solarsys_ko[i] = solarsys_en[i]  # 한글로 된 태양계 천체들을 영문으로 변경

print(solarsys_ko)

['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Naptune']

In [ ]:
# Unit 57 리스트에서 요소 삭제하기 1 : del list[i]

# del list[i] => list의 인덱스 i인 요소를 삭제

In [ ]:
fruits = ['사과', '배', '오렌지', '수박', '참외']
del fruits[1]  # fruits의 인덱스 1인 요소 (두 번째 요소) 삭제
print(fruits)
del fruits[-1] # fruits의 맨 마지막 요소 삭제
print(fruits)

['사과', '오렌지', '수박', '참외']
['사과', '오렌지', '수박']

In [ ]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '소행성대', '목성', '토성']
del solarsys[4:6]  # solarsys의 인덱스 4 이상 인덱스 6 미만인 요소를 삭제
print(solarsys)

['태양', '수성', '금성', '지구', '목성', '토성']

In [ ]:
del solarsys[:]  # solarsys의 모든 요소 삭제
print(solarsys)

[]

In [ ]:
# 특정 값과 일치하는 요소가 있는 경우, 해당 요소를 삭제하는 코드
solarsys = ['태양', '수성', '금성', '지구', '화성', '소행성대', '목성', '토성']
if '소행성대' in solarsys :
  idx = solarsys.index('소행성대')  # '소행성대'가 solarsys의 요소로 존재하는지 확인
  del solarsys[idx]  # '소행성대'의 인덱스를 구하고, del을 이용해 해당 요소 삭제

print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '토성']

In [ ]:
fruits = ['사과', '배', '오렌지', '수박', '참외']
del fruits  # fruits 자체를 메모리에서 삭제
print(fruits)  # 정의되어 있지 않은 변수 fruits를 출력하라는 것 => NameError 발생

NameError: name 'fruits' is not defined