<a href="https://colab.research.google.com/github/nundea45-debug/Homework_2025/blob/main/64list_pop()_65list_reverse().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Unit 64 리스트에서 특정 위치 요소 추출 후 삭제 : list.pop()

# list.pop() => 리스트 자료 list에서 마지막 요소 추출 후 해당 요소를 삭제

In [ ]:
numbers = [14,5,18,45,10,43]
for _ in range(len(numbers)) :
  ret = numbers.pop()
  print(f'pop()으로 추출된 값 : {ret}, numbers = {numbers}')

pop()으로 추출된 값 : 43, numbers = [14, 5, 18, 45, 10]
pop()으로 추출된 값 : 10, numbers = [14, 5, 18, 45]
pop()으로 추출된 값 : 45, numbers = [14, 5, 18]
pop()으로 추출된 값 : 18, numbers = [14, 5]
pop()으로 추출된 값 : 5, numbers = [14]
pop()으로 추출된 값 : 14, numbers = []

In [ ]:
# list.pop(index) => list에서 list[index]를 추출하고 해당 요소를 삭제

numbers = [14,5,18,45,10,43]
ret = numbers.pop(3)  # numbers에서 인덱스 3인 요소 45를 리턴후, 삭제
print(f'pop()으로 추출된 값 : {ret}, numbers = {numbers}')

pop()으로 추출된 값 : 45, numbers = [14, 5, 18, 10, 43]

In [ ]:
# Unit 65 리스트 요소를 역순으로 만들기 : list.reverse()

# list.reverse() => list 요소를 역순으로 만듦

In [ ]:
numbers = [1,2,3,4,5]
ret = reversed(numbers)  # reversed()를 이용해 리스트 요소를 역순으로 만드는 코드 # numbers의 변경 없이 요소를 역순으로 함
print(list(ret))
print(numbers)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [ ]:
numbers = [1,2,3,4,5]
numbers.reverse()  # numbers 요소를 역순으로 배열하여 numbrse 자체를 업데이트함
print(numbers)

[5, 4, 3, 2, 1]