<a href="https://colab.research.google.com/github/nundea45-debug/Homework_2025/blob/main/6data_7print.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Unit 6 자료형 개념

# 수치 자료
intData = 15        # 정수 데이터
floatData = 2.5     # 실수 데이터
complexData = 1 +1j # 복소수 데이터

In [ ]:
# 불리언 자료
isTrue = True
isFalse = False

# 시퀀스 자료 : 리스트, 튜플, 문자열, range 객체, 바이너리 시퀀스 자료

In [ ]:
# set 자료
setData = {1, 2, 3, 4, 5}

In [ ]:
# 딕셔너리
dictData = {0:False, 1:True}

In [ ]:
# Unit 7 print()

print('안녕하세요 파이썬!')  # 문자열 출력

안녕하세요 파이썬!

In [ ]:
hello = '안녕하세요 파이썬!'
print(hello)  # 변수 hello의 값을 출력

안녕하세요 파이썬!

In [ ]:
intData1 = 1
intData2 = 2
print(intData1 + intData2)  # intData1 과 intData2를 더한 값 출력

3

In [ ]:
name = '홍길동'
phone = '010-1234-5678'
print('이름 :', name, '핸드폰 :', phone)  # 콤마(,)로 구분되어 있으면 입력된 값을 연속으로 출력

이름 : 홍길동 핸드폰 : 010-1234-5678

In [ ]:
print('#', end = '')
print('#' * 5)  # 줄바꿈 없이 연속으로 출력하기 위해 print()의 두 번째 인자로 end = ' ' 지정

######

In [ ]:
print(name, phone, sep = ';')  # 콤마로 구분되 입력된 값을 특정 문자나 문자열로 구분하여 출력하기 위해 print()의 마지막 인자로 sep=<구분문자/구분문자열>을 지정

홍길동;010-1234-5678