<a href="https://colab.research.google.com/github/nundea45-debug/Homework_2025/blob/main/70tuple_71String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Unit 70 튜플(tuple) 이해하기

tupleData = 1, 'two', '셋'  # tuple => 콤마로 구분된 값들이 괄호로 묶어 표현된 것
print(tupleData)

(1, 'two', '셋')

In [ ]:
tupleData = (1, 'two', '셋')
print(tupleData)

(1, 'two', '셋')

In [ ]:
x, y, z = tupleData  # 튜플 요소 개수에 맞게 변수에 할당
print(f'x = {x}, y = {y}, z = {z}')

x = 1, y = two, z = 셋

In [ ]:
tupleData = (0,1,2,3,4)
tupleData[3] = 'Three'  # 튜플은 요소 변경이 불가능한 시퀀스 자료 => TypeError 발생

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Unit 71 문자열(String) 객체

# 작은따옴표('')로 문자열 선언
strData1 = '안녕하세요'
strData2 = '작은따옴표는 "큰따옴표"를 포함하는 문자열이 가능합니다.'
print(strData1)
print(strData2)

안녕하세요
작은따옴표는 "큰따옴표"를 포함하는 문자열이 가능합니다.

In [ ]:
# 큰따옴표("")로 문자열 선언
strData3 = "안녕하세요"
strData4 = "큰따옴표는 '작은따옴표'를 포함하는 문자열이 가능합니다."
print(strData3)
print(strData4)

안녕하세요
큰따옴표는 '작은따옴표'를 포함하는 문자열이 가능합니다.

In [ ]:
# 삼중 작은따옴표로 문자열 선언
strData5 = '''3중 작은 따옴표는
              여러 줄에 걸친 문자열이 가능합니다.'''
print(strData5)

3중 작은 따옴표는
              여러 줄에 걸친 문자열이 가능합니다.

In [ ]:
# 삼중 큰따옴표로 문자열 선언
strData6 = """3중 큰따옴표 역시
여러줄에 걸친 문자열이 가능합니다."""
print(strData6)

3중 큰따옴표 역시
여러줄에 걸친 문자열이 가능합니다.

In [ ]:
# 주석처리를 위한 삼중따옴표
while ret != None :
  """print(f'큐에서 데이터 추출 : {ret}')
  print(f'큐상태 : {myqueue}')
  print('---------------')"""            # 여러 줄의 주석처리 예
  ret = popData()

NameError: name 'ret' is not defined