<a href="https://colab.research.google.com/github/nundea45-debug/Homework_2025/blob/main/86format()_87str_upper()_str_lower().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Unit 86 숫자 왼쪽에 0을 채워서 문자열로 만들기 : format()

# format(i, '0n') => 정수 i의 왼쪽을 0으로 채워 n 자리가 되는 문자열로 만듦

In [ ]:
names = ['유비', '관우', '장비', '조운', '제갈량']
for idx, name in enumerate(names, start = 1) :
  order = format(idx, '03')  # => 정수 idx의 왼쪽에 0을 채워 3자리가 되도록 문자열을 만듦
  print(f'{order}-{name}')

001-유비
002-관우
003-장비
004-조운
005-제갈량

In [ ]:
# Unit 87 문자열에서 대소문자 변환하기 : str.upper(), str.lower()

# str.upper() => 문자열 str에 있는 모든 알파벳을 대문자로 변환한 문자열을 리턴
# str.lower() => 문자열 str에 있는 모든 알파벳을 소문자로 변환한 문자열을 리턴

In [ ]:
lyrics = 'A lot of Things occur Each Day!'
print(lyrics.upper())  # 모든 알파벳을 대문자로 변환
print(lyrics.lower())  # 모든 알파벳을 소문자로 변환
print(lyrics)

A LOT OF THINGS OCCUR EACH DAY!
a lot of things occur each day!
A lot of Things occur Each Day!