<a href="https://colab.research.google.com/github/nundea45-debug/Homework_2025/blob/main/98set_operation_99set_add().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Unit 98 set 연산 : |, &, -, ^

set1 = set('abradacabra')  # set 자료 정의
set2 = set('abbreviation')

In [ ]:
ret = set1|set2  # set 자료의 합집합 추출 => A | B
print(ret)

{'o', 'r', 'i', 'c', 'd', 'b', 'e', 'a', 'n', 'v', 't'}

In [ ]:
ret = set1&set2  # set 자료의 교집합 추출 => A & B
print(ret)

{'a', 'r', 'b'}

In [ ]:
ret = set1-set2  # set 자료의 차집합 추출 => A - B
print(ret)

{'c', 'd'}

In [ ]:
ret = set1^set2  # set 자료의 교집합의 여집합 추출 => A ^ B (교집합의 여집합 => A, B 중 어느 한 곳에만 있는 요소로 이루어진 집합)
print(ret)

{'o', 'i', 'd', 'c', 'e', 'n', 'v', 't'}

In [ ]:
ret = set1 <= set2  # set 자료에서 A가 B의 부분집합인 경우 => A <= B의 값이 True
print(ret)

False

In [ ]:
set1 =| set2  # set1 | set2의 결과를 set1으로 업데이트
set1 &= set2  # set1 & set2의 결과를 set1으로 업데이트
set1 -= set2  # set1 - set2의 결과를 set1으로 업데이트
set1 ^= set2  # set1 ^ set2의 결과를 set1으로 업데이트

SyntaxError: invalid syntax (ipython-input-3026053923.py, line 1)

In [ ]:
# Unit 99 set에 요소 추가 : set.add()

# set.add(elem) => set에 elem을 추가
fruits = {'사과', '배', '오렌지', '수박'}
fruits.add('딸기')
print(fruits)

{'수박', '오렌지', '딸기', '배', '사과'}

In [ ]:
fruits.add('배')  # fruits에 이미 존재하는 요소를 추가해도 오류 X
print(fruits)

{'수박', '오렌지', '딸기', '배', '사과'}